@using ecommerce_1.Data
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" asp-area="Identity" asp-page="/Account/Register" title="Register">
        Add new user
    </a>


    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a href="/users/update/@user.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No users created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </div>
    </div>
}
